
body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.admission-section{
    background-color: lightgrey;
    padding: 1rem;
}

.admission-details{
    margin-bottom: 1rem;
    padding: .5rem;
}

.admission-buttons{
    margin: 1rem 0;
}

.people-section, .medication-section, .events-section, .questions-section{
    padding: 1rem;
    margin: 3px;
    background-color: aliceblue;
}

table {
    background-color: white;
}

table{
    text-align: center;
}

th, td{
    border: thin solid black;
    padding: 10px;
}

th:last-of-type, td:last-of-type{
    border: 0;
    background-color: aliceblue;
}

.button-column{
    max-height: 30px;
    display: flex;
}