
body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.admission-button{
    margin: 1rem auto;
}

.admission-section{
    background-color: lightgrey;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.admission-details{
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 18px;
}

.detail{
    font-size: 20px;
}

.admission-buttons{
    margin: 1rem 0;
}

.people-section, .medication-section, .events-section, .questions-section{
    padding: 1rem;
    margin: 4px;
    background-color: aliceblue;
}

table {
    background-color: white;
}

table{
    text-align: center;
}

th, td{
    border: thin solid black;
    padding: 10px;
}

th:last-of-type, td:last-of-type{
    border: 0;
    background-color: aliceblue;
}

.form {
    margin: 5rem;
}

.input {
    min-width: 10rem;
}

.number-input{
    width: 5rem;
}

.time-input{
    width: 10rem;
}

.phone-input{
    width: 10rem;
}

.med-text-input{
    max-width: 40rem;
}

