@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins&display=swap');

body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.header-image{
    width: 200px;
}

.admission-button{
    margin: 1rem auto;
}

.admission-section{
    background-color: rgb(63, 63, 63);
    padding: 1rem;
    margin: auto;
    display: flex;
}

.no-admission{
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 2rem auto;
}

.admission-details{
    margin-bottom: 1rem;
    padding: .5rem;
    font-size: 1em;
    color: white;
}

.detail{
    font-size: 1.2em;
}

.admission-buttons{
    margin: 1rem 0;
}

.right-side{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* border: thin solid white; */
}

.tracker-time {
    font-size: 2rem;
}

.people-section, .medication-section, .events-section, .questions-section, .dose-section{
    padding: 1rem;
    margin: 4px;
    background-color: lightgray;
}

table {
    empty-cells: show;
    background-color: white;
}

table{
    text-align: center;
    border: thin solid lightgray; 
}

th, td{
    border: thin solid black;
    padding: 10px;
}

.button-column{
    border: lightgray;
    background-color: lightgray;
}

.form {
    margin: 5rem;
    color: white;
}

.number-input{
    width: 6rem;
}

.time-input{
    width: 10rem;
}

.phone-input{
    width: 10rem;
}

.datetime-input{
    width:15rem;
}

.sm-text-input{
    max-width: 20rem;
    min-width: 10rem;

}

.med-text-input{
    max-width: 40rem;
    min-width: 10rem;
}


